@page "/metrics/chart/{Type:int}"
@page "/metrics/chart/{Type:int}/{OffSet:int}"
@inherits ChartBase

@if (dailyChart != null && dailyChart.Any())
{
    <h2>Chart of @title</h2>
    <div class="text-center">
        <a @onclick="@Prev" @onclick:preventDefault href="#">Prev Chart</a>
        <a @onclick="@Next" @onclick:preventDefault href="#">Next Chart</a>
    </div>
    <Line Labels="@hourlyLabel" Data="@hourlyData" PrevData="@hourlyPrevData" Title="@title" Day="MyChartType.Hourly"></Line>
    <Line Labels="@dailyLabel" Data="@dailyData" PrevData="@dailyPrevData" Title="@title" Day="MyChartType.Daily"></Line>
    <Line Labels="@weeklyLabel" Data="@weeklyData" PrevData="@weeklyPrevData" Title="@title" Day="MyChartType.Weekly"></Line>
    @if (Type == 14 || Type == 15)
    {
        <MatSlider Value="@OffSet" Discrete="true" Pin="true" TValue="int" ValueMin="1" ValueMax="50" ValueChanged="@ReLoad"></MatSlider>
    }
}
