@page "/metrics"
@inject BlogService BlogService
@inject MetricService MetricService

<h2>Metrics</h2>

<p>A page of metrics about me from various services.</p>

<div class="post-content">
    <table width="100%">
        <tr>
            <td>
                <span class="fab fa-dev" aria-hidden="true"></span> Total post views
            </td>
            <td>
                @views.Value
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-dev" aria-hidden="true"></span> Total post reactions
            </td>
            <td>
                @reactions.Value
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-dev" aria-hidden="true"></span> Total post comments
            </td>
            <td>
                @comments.Value
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-dev" aria-hidden="true"></span> Published Posts / Total Posts
            </td>
            <td>
                @pubposts.Value / @posts.Value
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-twitter" aria-hidden="true"></span> Number of Followers
            </td>
            <td>
                @followers.Value
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-twitter" aria-hidden="true"></span> Number Following
            </td>
            <td>
                @following.Value
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-twitter" aria-hidden="true"></span> Number of Favourites
            </td>
            <td>
                @fav.Value
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-twitter" aria-hidden="true"></span> Number of Tweets
            </td>
            <td>
                @numtweets.Value
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-github" aria-hidden="true"></span> Number Following
            </td>
            <td>
                @ghfollowing.Value
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-github" aria-hidden="true"></span> Number of Followers
            </td>
            <td>
                @ghfollowers.Value
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-github" aria-hidden="true"></span> Number of Repos
            </td>
            <td>
                @ghrepo.Value
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-github" aria-hidden="true"></span> Number of Stars
            </td>
            <td>
                @ghstars.Value
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-github" aria-hidden="true"></span> Number of Commits
            </td>
            <td>
                @commits.Value
            </td>
        </tr>
    </table>
</div>

@code {
    private Metric followers = new Metric();
    private Metric following = new Metric();
    private Metric numtweets = new Metric();
    private Metric ghfollowers = new Metric();
    private Metric ghfollowing = new Metric();
    private Metric ghrepo = new Metric();
    private Metric ghstars = new Metric();
    private Metric commits = new Metric();
    private Metric fav = new Metric();
    private Metric views = new Metric();
    private Metric reactions = new Metric();
    private Metric comments = new Metric();
    private Metric pubposts = new Metric();
    private Metric posts = new Metric();

    protected override void OnInitialized()
    {
        Load();
    }

    private void Load()
    {
        followers = MetricService.LoadData(0, 1);
        following = MetricService.LoadData(1, 1);
        numtweets = MetricService.LoadData(2, 1);
        fav = MetricService.LoadData(3, 1);
        ghfollowers = MetricService.LoadData(4, 1);
        ghfollowing = MetricService.LoadData(5, 1);
        ghrepo = MetricService.LoadData(6, 1);
        ghstars = MetricService.LoadData(7, 1);
        commits = MetricService.LoadData(8, 1);
        posts = MetricService.LoadData(9, 1);
        pubposts = MetricService.LoadData(10, 1);
        views = MetricService.LoadData(11, 1);
        reactions = MetricService.LoadData(12, 1);
        comments = MetricService.LoadData(13, 1);
    }
}