@page "/metrics"
@inject BlogService BlogService

<h2>Metrics</h2>

<p>A page of metrics about me from various services.</p>

<div class="post-content">
    <table width="100%">
        <tr>
            <td>
                <span class="fab fa-dev" aria-hidden="true"></span> Total post views
            </td>
            <td>
                @views.Value
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-dev" aria-hidden="true"></span> Total post reactions
            </td>
            <td>
                @reactions.Value
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-dev" aria-hidden="true"></span> Total post comments
            </td>
            <td>
                @comments.Value
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-dev" aria-hidden="true"></span> Published Posts / Total Posts
            </td>
            <td>
                @pubposts.Value / @posts.Value
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-twitter" aria-hidden="true"></span> Number of Followers
            </td>
            <td>
                @followers.Value (@followers.Date?.ToString("dd/MM/yy HH:mm"))
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-twitter" aria-hidden="true"></span> Number Following
            </td>
            <td>
                @following.Value (@following.Date?.ToString("dd/MM/yy"))
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-twitter" aria-hidden="true"></span> Number of Favourites
            </td>
            <td>
                @fav.Value (@fav.Date?.ToString("dd/MM/yy HH:mm"))
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-twitter" aria-hidden="true"></span> Number of Tweets
            </td>
            <td>
                @numtweets.Value (@numtweets.Date?.ToString("dd/MM/yy HH:mm"))
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-github" aria-hidden="true"></span> Number Following
            </td>
            <td>
                @ghfollowing.Value (@ghfollowing.Date?.ToString("dd/MM/yy HH:mm"))
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-github" aria-hidden="true"></span> Number of Followers
            </td>
            <td>
                @ghfollowers.Value (@ghfollowers.Date?.ToString("dd/MM/yy HH:mm"))
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-github" aria-hidden="true"></span> Number of Repos
            </td>
            <td>
                @ghrepo.Value (@ghrepo.Date?.ToString("dd/MM/yy HH:mm"))
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-github" aria-hidden="true"></span> Number of Stars
            </td>
            <td>
                @ghstars.Value (@ghstars.Date?.ToString("dd/MM/yy HH:mm"))
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-github" aria-hidden="true"></span> Number of Commits
            </td>
            <td>
                @commits.Value (@commits.Date?.ToString("dd/MM/yy HH:mm"))
            </td>
        </tr>
    </table>
</div>

@code {
    private Metric followers = new Metric();
    private Metric following = new Metric();
    private Metric numtweets = new Metric();
    private Metric ghfollowers = new Metric();
    private Metric ghfollowing = new Metric();
    private Metric ghrepo = new Metric();
    private Metric ghstars = new Metric();
    private Metric commits = new Metric();
    private Metric fav = new Metric();
    private Metric views = new Metric();
    private Metric reactions = new Metric();
    private Metric comments = new Metric();
    private Metric pubposts = new Metric();
    private Metric posts = new Metric();

    protected override void OnInitialized()
    {
        Load();
    }

    private void Load()
    {
        followers = BlogService.LoadData(0,1);
        following = BlogService.LoadData(1,1);
        numtweets = BlogService.LoadData(2,1);
        fav = BlogService.LoadData(3,1);
        ghfollowers = BlogService.LoadData(4,1);
        ghfollowing = BlogService.LoadData(5,1);
        ghrepo = BlogService.LoadData(6,1);
        ghstars = BlogService.LoadData(7,1);
        commits = BlogService.LoadData(8,1);
        posts = BlogService.LoadData(9,1);
        pubposts = BlogService.LoadData(10,1);
        views = BlogService.LoadData(11,1);
        reactions = BlogService.LoadData(12,1);
        comments = BlogService.LoadData(13,1);
    }
}